@{
    ViewData["Title"] = "Marketplace/cart";
}

<section class="p-5 | cart-section">
    <div class="container shopping-cart-container">
        <div class="row flex-column flex-md-row  p-3 | product-sales">
            <div class="col | cart-info">
                <div class="cart-title">
                    <h2>Shopping Cart (1)</h2>
                </div>
                <div class="row flex-column | product-details">
                    <div class="col d-flex justify-content-between">
                        <p>Cabbage</p>
                        <p>$300.00</p>
                    </div>
                    <div class="col d-flex flex-column">
                        <div class="cart-product-img">
                            <img class="w-100" src="~/images/cabbage.png" alt="" />
                        </div>
                        <div class="product-details nutrition-info">
                            <div class="details">
                                <p>100 calories</p>
                                <p>10g protein</p>
                                <p>18g fiber</p>
                            </div>
                            <div class="d-flex justify-content-between mt-3 | cart-btns-container">
                                <div class="quantity-input">
                                    <button class="decrement-btn">-</button>
                                    <input class="text-center mx-2" type="number" value="1" />
                                    <button class="increment-btn">+</button>
                                </div>
                                <div class="delete-btn">Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col | payment-info">
                <div class="d-flex flex-column">
                    <div class="payment-title">
                        <h2>Summary</h2>
                    </div>
                  
                    <div class="fw-bold d-flex justify-content-between | total">
                        <p>Total</p>
                        <p>$300.00</p>
                    </div>
                    <button class="w-100 btn text-white | custom-btn checkout-btn">Checkout(0)</button>
                </div>
                <div class="mt-3 | card-info">
                    <p>Pay with</p>
                </div>
            </div>
        </div>
    </div>
   
</section>

<section class="products-section">

</section>
