@page
@model Agrisustain_Jamaica.Views.Home.cornsoupModel
@{
}


<section class="position-relative p-5 recipe-details-section corn-soup-recipe-section">
    <div class="container">
        <div class="position-fixed video-container">
            @*  <div class="close-btn">
            <p class="m-0">X</p>
            </div> *@
            <iframe width="400" height="200" src="https://www.youtube.com/embed/AkWACx-iYYg?si=Vqm-1N0H-2cCf7_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="row recipe-details">
            <div class="col p-0 ingredients">
                <h1>Corn Soup Recipe</h1>
                <div class="d-flex flex-wrap p-4 gap-3 nutritional-info">
                    <p>Calories 400-500</p>
                    <p>Carbohydrates 30-40g</p>
                    <p>Protein 20-25g</p>
                    <p>Fat 20-30g</p>
                    <p>Sodium 800-1200mg</p>
                </div>
                <div class="p-4 pt-0 text-content">
                    <p class="fw-bold fs-3">What you need:</p>
                    <ul>
                        <li>8 ears fresh corn</li>
                        <li>1 diced onion</li>
                        <li>1/2 cup butter</li>
                        <li>4 cups chicken or vegetable stock</li>
                        <li>1 cup cream or half and half</li>
                        <li>Salt and pepper to taste</li>
                        <li>Optional toppings: sliced scallions, bacon, chopped peppers, crabmeat</li>
                    </ul>
                </div>
            </div>
            <div class="col py-5 instructions">
                <p class="fw-bold fs-3">How to prepare:</p>
                <ol>
                    <li>Place it in a large Dutch oven or soup pot over medium high heat and heat the butter until it's melted and beginning to sizzle.</li>
                    <li>Put the corn and onions together in the pot with the butter. Give them a stir, and cook for about 5 minutes, until the onions turn translucent. 
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                Do not overcook the onions and corn - if they start to turn brown, reduce the heat immediately. Browning the corn will give its sweet flavor a sharp edge.
                            </span>
                        </p>
                    </li>
                    <li>Pour chicken or vegetable stock over the onions and corn, and turn up the heat so that the mixture comes to a boil. Then reduce it to a simmer and cook for 15 minutes.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                Taste the soup after it has simmered for a while. Have the flavors melded and enhanced one another? If not, allow it to cook for five minutes more.
                            </span>
                        </p>
                    </li>
                    <li>
                        Carefully pour the soup into a blender and put the lid on. Puree the soup until it's smooth, then pour it into a separate bowl or pot.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                Don't fill the blender more than 1/2 way to the rim, or the hot soup may cause the lid to fly off and make a mess.
                            </span>
                        </p>
                    </li>
                    <li>Pour the soup through a fine-mesh strainer to get rid of the tiny corn skins and other solid bits. What's left will be a pure, silky, golden corn-flavored liquid.</li>
                    <li>Add salt and pepper, taste the soup, and add more if necessary.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                At this point you can also add seasonings like flavored salt, dried thyme or cayenne pepper.
                            </span>
                        </p>
                    </li>
                    <li>Just before serving, swirl in the cream. 
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                You can heat the cream first if you don't want it to affect the soup's temperature. Be sure not to let it come to a boil.
                            </span>
                        </p>
                    </li>
                    <li>Serve with garnishes of your choice. </li>
                </ol>
            </div>
        </div>
    </div>
</section>

