@using AgriSustain_Jamaica
@model HealthyEatingModel
@{
}
    

<style>
    .bmi-container {
        max-width: 600px;
        margin-inline: auto;
    }

    .active-gender {
        background-color: var(--clr-accent) !important;
    }

    .gender span {
        font-weight: bold;
        font-size: 5rem;
    }

    .gender input[type="radio"] {
        display: none;
    }

    .gender-col,
    .gender-col label {
        cursor: pointer;
    }

    .height-col input[type="number"] {
        text-indent: 1rem;
        padding: .5em;
        outline: none;
        border: none;
        border-radius: 99vw;
    }

    .gender-col, 
    .height-col,
    .weight-col,
    .age-col,
    .calculate-btn {
        color: var(--clr-neutral-light);
        text-align: center;
        padding: 1em;
        background-color: var(--clr-primary);
        border-radius: 1em;

    }

    .weight-btns > button,
    .age-btns > button {
        font-weight: bold;
        background-color: var(--clr-accent);
        border: none;
        padding: .5em .8em;
        border-radius: 50%;
       box-shadow: 1px 1px 0 #999;
    }

    .calculate-btn {
        background-color: var(--clr-accent);
    }

    .calculate-btn > button {
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: var(--clr-primary);
        border: none;
        background-color: transparent;
        width: 100%;
    }

    .bmi-calculator .overlay {
        display: none;
        place-items: center;
        position: absolute;
        inset: 0;
        min-height: 100vh;
        /* height: calc(100vh - 2vh); */
      /*   padding: 2em; */
        background-color: rgba(0,0,0,.5);
    }

    .bmi-calculator .overlay > .result {
        padding: 2em;
        max-width: 600px;
        margin-inline: auto;
        background-color: var(--clr-neutral-light); 
    }

  
</style>

<section class="bg-gradient p-5 banner">
    <div class="wrapper">
        <div class="row flex-column flex-md-row justify-content-md-between align-items-md-center flex-container">
            <div class="col col-left">
                <h1 class="fw-bolder lh-1">Develop Healthy Eating Habits</h1>
                <p class="mt-3">Our Body Mass Index(BMI) calculator checks if your weight matches your height. It also checks to see if you're currently underweight, normal, or carrying too much weight. However, staying healthy is more than just numbers; it's about eating well, staying active, and feeling good! See what our recommended diet is based on your BMI results.</p>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-start right-col">
                <img src="~/images/healthy-food-diet-png-picture.png" alt="healthy foods"/>
            </div>
        </div>
    </div>
</section>
<section class="position-relative bmi-calculator">
    <div class="container">
        <h2 class="text-center p-4">BMI Calculator</h2>
        <div class="bmi-container">
            <div class="row justify-content-between align-items-center gap-3 px-3 gender">
                <div class="col male gender-col">
                    <label for="male">
                        <span class="d-block">♂</span>
                        Male
                    </label>
                    <input type="radio" value="" name="gender" id="male" />
                </div>
                <div class="col female gender-col">
                    <label for="female">
                        <span class="d-block">♀</span>
                        Female
                    </label>
                    <input type="radio" value="" name="gender" id="female" />
                </div>

            </div>
            <div class="py-4 mt-3 height-col">
                <p class="text-uppercase">Height</p>
                <div class="lh-1 mb-3 height-details">
                    <span class="height-val">136</span>
                    <span>cm</span>
                </div>
                <input type="number" value="136" />
            </div>
            <div class="row justify-content-between align-items-center lh-1 gap-3 px-3 mt-3 weight-and-age">
                <div class="col weight-col">
                    <p class="text-uppercase">weight</p>
                    <div class="lh-1 mb-3 weight-details">
                        <span class="weight-val">56</span>
                        <span>Kg</span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-3 weight-btns">
                        <button class="decrement-btn">-</button>
                        <button class="increment-btn">+</button>
                    </div>
                </div>
                <div class="col age-col">
                    <p class="text-uppercase">Age</p>
                    <p class="age">36 years</p>
                    <div class="d-flex justify-content-center align-items-center gap-3 age-btns">
                        <button class="decrement-btn">-</button>
                        <button class="increment-btn">+</button>
                    </div>
                </div>
            </div>
            <div class="mt-3 calculate-btn">
                <button onclick="calculate()">Calculate</button>
            </div>
        </div> 
    </div>
    <div class="overlay p-4">
        <div class="fw-bold fs-2 text-white position-absolute close">X</div>
        <div class="result">
        </div>
    </div>
</section>


 

    <script>
        const genderCols = document.querySelectorAll(".gender-col");
        const heightInput = document.querySelector(".height-col input[type='number']")
        const heightVal = document.querySelector(".height-val")
        const weightAndage = document.querySelector(".weight-and-age");
        const weightVal = document.querySelector(".weight-details > .weight-val")
        const ageVal = document.querySelector(".age-col > .age")

        // var age = document.getElementById("age");
        // var height = document.getElementById("height");
        // var weight = document.getElementById("weight");
        // var male = document.getElementById("m");
        // var female = document.getElementById("f");
        // var form = document.getElementById("form");
        // let resultArea = document.querySelector(".comment");

        selectGender();
        handleHeightInput();
        handleWeightAndAgeInput();

    //select gender
        function selectGender() {
            document.querySelector(".male").classList.add("active-gender");
            genderCols.forEach(genderCol => {
                genderCol.closest(".bmi-container").addEventListener("click", (e) => {
                    if (e.target.classList.contains("female") || e.target.closest(".female")) {
                        document.querySelector(".female").classList.add("active-gender")
                        document.querySelector(".male").classList.remove("active-gender");
                    } else if (e.target.classList.contains("male") || e.target.closest(".male")) {
                        document.querySelector(".male").classList.add("active-gender")
                        document.querySelector(".female").classList.remove("active-gender");
                    }
                })
            
            })
        }

        //input height value
        function handleHeightInput() {
            heightInput.addEventListener("change", (e) => {
                heightVal.textContent = e.target.value;
            })
        }

        //input weight or age value
        function handleWeightAndAgeInput() {
            let age = ageVal.textContent.split(" ")[0];
            let weight = weightVal.textContent;
          
            weightAndage.addEventListener("click", (e) => {
                if (e.target.classList.contains("decrement-btn") && e.target.closest(".age-btns")) {
                    +age--;
                    if (+age < 0) {
                        age = 0;
                    }
                    ageVal.textContent = `${age} years`;

                } else if (e.target.classList.contains("increment-btn") && e.target.closest(".age-btns")) {
                    +age++;
                    ageVal.textContent = `${age} years`;

                } else if (e.target.classList.contains("decrement-btn") && e.target.closest(".weight-btns")) {
                    +weight--;
                    if (+weight < 0) {
                        weight = 0;
                    }
                    weightVal.textContent = weight;
            } else if (e.target.classList.contains("increment-btn") && e.target.closest(".weight-btns")) {
                    +weight++;
                    weightVal.textContent = weight;
            }
            })
        }
        
        function calculate() {
            if (ageVal == '' || heightVal == '' || weightVal == '') {
                alert("fields cannot be empty");
                // modal.style.display = "block";
                // modalText.innerHTML = `All fields are required!`;

            } else {
               const resultContainer = document.querySelector(".bmi-calculator .result");
               let html = ``
               const BMIResult = countBmi();

               switch(BMIResult) {
                   case "Underweight":
                       html = `<ul>
                    <li>
                        <h3>Nutrient-Dense Foods:</h3>
                        <p>Prioritize foods rich in nutrients, including lean proteins like chicken, fish, tofu, legumes, and healthy fats such as avocados, nuts, seeds, and olive oil.</p>
                    </li>
                    <li>
                        <h3>Frequent Meals and Snacks:</h3>
                        <p>
                            Eat regular meals and snacks throughout the day to increase calorie intake in a healthy manner.
                            Snack on nutritious options like yogurt with fruits, nuts and seeds, or whole grain crackers with hummus.
                        </p>
                    </li>
                    <li>
                        <h3>Caloric Increase:</h3>
                        <p>
                         Add healthy calories by incorporating smoothies with nut butter, milk/yogurt, fruits, and oats, or adding nutritious toppings to meals like seeds, nuts, or cheese.
                        </p>
                    </li>
                </ul>`;
                       break;

                   case "Normal":
                        html = `<ul>
                        <li>
                            <h3>Balanced Diet:</h3>
                            <p>Maintain a diverse and balanced diet that includes whole grains, lean proteins, healthy fats, and plenty of fruits and vegetables.</p>
                            <p>Ensure portion control and moderation in consuming processed foods, sugars, and unhealthy fats.</p>
                        </li>
                        <li>
                            <h3>Mindful Eating:</h3>
                            <p>Pay attention to portion sizes and hunger cues, eating until satisfied, not overly full.</p>
                            <p>Engage in mindful eating practices by slowing down during meals, savoring the flavors, and being conscious of satiety signals.</p>
                        </li>
                        <li>
                            <h3>Hydration:</h3>
                            <p>Drink an adequate amount of water throughout the day, aiming for at least 8-10 glasses or more based on individual needs.</p>
                            <p>Limit the intake of sugary beverages and prioritize water, herbal teas, or infused water for hydration.</p>
                        </li>

                    </ul>`;
                    break;

                   case "Overweight":
                       html = `<ul>
                    <li>
                        <h3>Portion Control and Healthier Choices:</h3>
                        <p>Focus on portion control and making healthier food choices by increasing vegetable and fruit intake while reducing processed foods, added sugars, and unhealthy fats.</p>
                        <p>Switch to whole grains like brown rice, quinoa, and whole-wheat bread to increase fiber intake and promote satiety.</p>
                    </li>
                    <li>
                        <h3>Regular Exercise:</h3>
                        <p>Combine a balanced diet with regular physical activity, aiming for at least 150 minutes of moderate aerobic activity per week or 75 minutes of vigorous activity.</p>
                        <p>Incorporate strength training exercises to build muscle and increase metabolism.</p>
                    </li>
                    <li>
                        <h3>Healthy Snacking:</h3>
                        <p>Opt for nutritious snacks such as mixed nuts, Greek yogurt with berries, air-popped popcorn, or raw vegetables with hummus to manage hunger between meals.</p>
                    </li>
                </ul>`;
                       break;

                   case "Obese":
                       html = `<ul>
                    <li>
                        <h3>Gradual Lifestyle Changes:</h3>
                        <p>Focus on making gradual and sustainable changes to eating habits and lifestyle choices.</p>
                        <p>Set achievable goals, such as starting with small dietary adjustments or increasing physical activity gradually.</p>
                    </li>
                    <li>
                        <h3>Professional Guidance:</h3>
                        <p>Seek advice from healthcare professionals or registered dietitians for personalized diet plans and professional guidance in weight management.</p>
                    </li>
                    <li>
                        <h3>Whole Foods and Reduced Intake of Unhealthy Foods:</h3>
                        <p>Emphasize whole, unprocessed foods while reducing intake of high-calorie, low-nutrient foods like sugary snacks, fried foods, and processed meats.</p>
                        <p>Monitor portions and practice mindful eating to become more aware of food consumption and satiety cues.</p>
                    </li>
                </ul>`;
                       break;
               }
                
             
              resultContainer.innerHTML = html
            document.querySelector(".bmi-calculator .overlay").style.display = "grid"
            }

        }

        function countBmi() {
            let result = "";
            const heightInMetres = +heightVal.textContent / 100;
       
            const bmi = +weightVal.textContent / (heightInMetres * heightInMetres);
            
        if (bmi < 18.5) {
            result = 'Underweight';
        } else if (bmi >= 18.5 && bmi <= 24.9) {
            result = 'Normal';
        } else if (bmi >= 25 && bmi <= 29.9) {
            result = 'Overweight';
        } else if (bmi > 30) {
            result = 'Obese';
        }

            return result;

        }

    </script>

