@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
</head>
<style>
    .home {
        scroll-behavior: smooth;
    }

    .card-img {
        border-radius: 10px;
        width: 100%;
    }

    #transparentForm {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

        #transparentForm label {
            display: block;
            margin-bottom: 10px;
        }

        #transparentForm button {
            display: block;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    #transparentForm {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

        #transparentForm label {
            display: block;
            margin-bottom: 10px;
        }

        #transparentForm button {
            display: block;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
</style>




<div class="home text-center">
    <div id="transparentForm">
       
        <h3>Notification Preferences</h3>
        <div>
            <input type="checkbox" id="pestDiseaseOutbreaks" name="pestDiseaseOutbreaks">
            <label for="pestDiseaseOutbreaks">Receive notifications of pest and disease outbreaks</label>
        </div>
        <div>
            <input type="checkbox" id="communityNotifications" name="communityNotifications">
            <label for="communityNotifications">Receive community notifications within 15km radius</label>
        </div>
        <div>
            <input type="checkbox" id="informOthers" name="informOthers">
            <label for="informOthers">Inform other farmers about your pest and disease issues</label>
        </div>
        <div>
            <button id="submitForm">Submit</button>
            <button id="closeForm">Close</button>
        </div>
    </div>

    <section id="#top" class="top-section">
        <h3> Promoting sustainable agricultural practices from farmer to consumer</h3>
    </section>

    <section class="container btn-section">
        <div class="content my-5">
            <p class="fs-5">
                At AgriSustain, we are committed to revolutionising agriculture by empowering farmers, community members and customers to make sustainable and eco-friendly decisions.<br />
            </p>
        </div>

        <div class="row flex-column gap-4 mx-auto flex-md-row cards-container">
            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Sustainable Farming</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can ensure your farming practices are sustainable</p>


                </div>
                <a asp-controller="Home" asp-action="SustainableFarmingTechniques" class="btn custom-button">Learn More</a>
            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Community Gardens</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can get involved with your community garden</p>
                </div>

                <a asp-controller="Home" asp-action="UserSelector" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Nutrition and Cooking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get recipes and nutrition information about locally grown produce.</p>
                </div>

                <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Farmer's Hub</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>All the information for farmers in one place.</p>
                </div>

                <a asp-controller="Home" asp-action="farmersHub" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Crop Tracking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get detailed information on locally grown crops.</p>
                </div>

                <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>

            </div>
        </div>

        <div class="content my-5">
            <p class="fs-5">
                Our platform empowers our community with valuable tools, resources and information to promote food security and responsible farming practices.
            </p>
        </div>

    </section>

   @*  <section class="intro">
        <div class="container">
            <div class="intro-text">
                
            </div>
           
        </div>
    </section> *@

    @* <section class="recipes">
    <div class="container">
    <h2>Delicious recipes using sustainably farmed produce </h2>
    </div>
    </section>

    <section class="marketplace">

    </section>

    <section class="marketplace container">
    <h1>Marketplace</h1>
    <p>Fresh, locally grown produce from the farmers you know.</p>
    </section> *@

    <div class="back-to-top">
        <a class="btn button text-light" href="#top">^</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Show the form after 5 seconds
        setTimeout(function () {
            $('#transparentForm').fadeIn();
        }, 5000);

        // Close the form on close button click
        $('#closeForm').click(function () {
            $('#transparentForm').fadeOut();
        });

        var notificationMessage = '@TempData["NotificationMessage"]';
        setTimeout(function () {
            if (notificationMessage) {
                toastr.success(notificationMessage, '', {
                    timeOut: 0,
                    extendedTimeOut: 0,
                    closeButton: true
                });
            }
        }, 10000); // 10 seconds delay

        const formSubmit = document.getElementById("transparentForm");

        formSubmit.addEventListener("submit", function (e) {
            e.preventDefault();

            let isCompleted = false;
            let data = ''; // Initialize the data variable

            const checkboxes = formSubmit.querySelectorAll("input[type='checkbox']");

            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    data += `${checkbox.id} `;
                }
            });

            isCompleted = true;

            if (isCompleted) {
                checkboxes.forEach(checkbox => checkbox.checked = false);

                // Show Toastr notification
                toastr.success("Notification preferences saved successfully.", '', {
                    timeOut: 10000,
                    closeButton: true
                });

                // Close the form
                $('#transparentForm').fadeOut();
            }
        });
    });
</script>


