@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home {
        scroll-behavior: smooth;
    }
</style>

    <div class="home text-center">
            <section id="#top" class="top-section" >
                <h3> Promoting sustainable agricultural practices from farmer to consumer</h3 >
            </section>

            <section class="btn-section">
                <div class="card container">
                    <div class="card-img">
                        <a><img/> </a>
                    </div>
                    <div class="card-title">
                        <h5>Sustainable Farming</h5>
                    </div>
                    <div class="card-text">
                        <p>Learn how you can ensure your farming practices are sustainable</p>
                    
                        <a asp-controller="Home" asp-action="SustainableFarmingTechniques" class="btn custom-button">Learn More</a>
                    </div>
                </div>


                <div class="card container">
                    <div class="card-img">
                        <a><img src="" /> </a>
                    </div>
                    <div class="card-title">
                        <h5>Community Gardens</h5>
                    </div>
                    <div class="card-text">
                        <p>Learn how you can get involved with your community garden</p>
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>
                    </div>
                </div>

                <div class="card container">
                    <div class="card-img">
                        <a><img /> </a>
                    </div>
                    <div class="card-title">
                    <h5>Nutrition and Cooking</h5>
                    </div>
                    <div class="card-text">
                        <p>Get recipes and nutrition information about locally grown produce.</p>
                    </div>
                    <div>
                    <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>
                    </div>
                </div>

                <div class="card container">
                    <div class="card-img">
                        <a><img /> </a>
                    </div>
                    <div class="card-title">
                            <h5>Farmer's Hub</h5>
                    </div>
                    <div class="card-text">
                        <p>All the information for farmers in one place.</p>
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>
                    </div>
                </div>

                <div class="card container">
                    <div class="card-img">
                        <a><img /> </a>
                    </div>
                    <div class="card-title">
                        <h5>Crop Tracking</h5>
                    </div>
                    <div class="card-text">
                        <p>Get detailed information on locally grown crops.</p>
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>
                    </div>
                </div>
            </section>

            <section class="intro">
                <p>At AgriSustain, we are committed to revolutionising agriculture by empowering farmers, community members and customers to make sustainable and eco-friendly decisions.<br/>
                    Our platform empowers our community with valuable tools, resources and information to promote food security and responsible farming practices.</p>
            </section>

            @* <section class="recipes">
                <div class="container">
                    <h2>Delicious recipes using sustainably farmed produce </h2>
                </div>
            </section> 

            <section class="marketplace">

            </section>

             <section class="marketplace container">
                <h1>Marketplace</h1>
                <p>Fresh, locally grown produce from the farmers you know.</p>
            </section> *@
         
            <div class="back-to-top">
                <a class="btn button text-light" href="#top">^</a>
            </div>
    </div>
