

@{
    ViewData["Title"] = "Home Page";

}

<style>
    .home {
        scroll-behavior: smooth;
    }

    .card-img {
        border-radius: 10px;
        width: 100%;
    }
</style>

<div class="home text-center">
    <section id="#top" class="top-section">
        <h3> Promoting sustainable agricultural practices from farmer to consumer</h3>
    </section>

    <section class="container btn-section">
        <div class="content my-5">
            <p class="fs-5">
                At AgriSustain, we are committed to revolutionising agriculture by empowering farmers, community members and customers to make sustainable and eco-friendly decisions.<br />
            </p>
        </div>

        <div class="row flex-column gap-4 mx-auto flex-md-row cards-container">
            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Sustainable Farming</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can ensure your farming practices are sustainable</p>


                </div>
                <a asp-controller="Home" asp-action="SustainableFarmingTechniques" class="btn custom-button">Learn More</a>
            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Community Gardens</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can get involved with your community garden</p>
                </div>

                <a asp-controller="Home" asp-action="UserSelector" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Nutrition and Cooking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get recipes and nutrition information about locally grown produce.</p>
                </div>

                <a asp-controller="Home" asp-action="Recipes" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Farmer's Hub</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>All the information for farmers in one place.</p>
                </div>

                <a asp-controller="Home" asp-action="farmersHub" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Crop Tracking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get detailed information on locally grown crops.</p>
                </div>

                <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>

            </div>
        </div>

        <div class="content my-5">
            <p class="fs-5">
                Our platform empowers our community with valuable tools, resources and information to promote food security and responsible farming practices.
            </p>
        </div>

    </section>

   @*  <section class="intro">
        <div class="container">
            <div class="intro-text">
                
            </div>
           
        </div>
    </section> *@

    @* <section class="recipes">
    <div class="container">
    <h2>Delicious recipes using sustainably farmed produce </h2>
    </div>
    </section>

    <section class="marketplace">

    </section>

    <section class="marketplace container">
    <h1>Marketplace</h1>
    <p>Fresh, locally grown produce from the farmers you know.</p>
    </section> *@

    <div class="back-to-top">
        <a class="btn button text-light" href="#top">^</a>
    </div>
</div>
