

@{
    ViewData["Title"] = "Home Page";

}

<style>
    .home {
        scroll-behavior: smooth;
    }

    .card-img {
        border-radius: 10px;
        width: 100%;
}
    .about {
        background-color: #193631;
        color: #fff;
        padding: 5%;
    
    }

    .marketplace {
        padding: 5%;
    }

    .marketplace .card {
        padding: 5% 0;
        margin: 10%;
    }

</style>

<div class="home text-center">
    <section id="#top" class="top-section">
        <h3> Promoting sustainable agricultural practices from farmer to consumer</h3>
    </section>

    <section class="container btn-section">
        <div class="content my-5">
            <p class="fs-5">
                At AgriSustain, we are committed to revolutionising agriculture by empowering farmers, community members and customers to make sustainable and eco-friendly decisions.<br />
            </p>
        </div>

        <div class="row flex-column gap-4 mx-auto flex-md-row cards-container">
            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Sustainable Farming</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can ensure your farming practices are sustainable</p>


                </div>
                <a asp-controller="Home" asp-action="SustainableFarmingTechniques" class="btn custom-button">Learn More</a>
            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Community Gardens</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Learn how you can get involved with your community garden</p>
                </div>

                <a asp-controller="Home" asp-action="UserSelector" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200" /> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Nutrition and Cooking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get recipes and nutrition information about locally grown produce.</p>
                </div>

                <a asp-controller="Home" asp-action="Recipes" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Farmer's Hub</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>All the information for farmers in one place.</p>
                </div>

                <a asp-controller="Home" asp-action="farmersHub" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
                @* <div class="card-img">
                    <a><img src="https://picsum.photos/200"/> </a>
                </div> *@
                <div class="card-title">
                    <h5 class="fw-bold">Crop Tracking</h5>
                </div>
                <div class="flex-grow-1 card-text">
                    <p>Get detailed information on locally grown crops.</p>
                </div>

                <a asp-controller="Home" asp-action="" class="btn custom-button">Learn More</a>

            </div>

            <div class=" card">
            @* <div class="card-img">
            <a><img src="https://picsum.photos/200"/> </a>
            </div> *@
            <div class="card-title">
                <h5 class="fw-bold">Healthy Eating Tips</h5>
            </div>
            <div class="flex-grow-1 card-text">
                <p>Answer questions and get healthy eating tips.</p>
            </div>

            <a asp-controller="Home" asp-action="HealthyEating" class="btn custom-button">Learn More</a>

        </div>
        </div>

        <div class="content my-5">
            <p class="fs-5">
                Our platform empowers our community with valuable tools, resources and information to promote food security and responsible farming practices.
            </p>
        </div>

    </section>

    <div class="about container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="d-flex align-items-center section-subheading">Our Mission</h2>
      </div>
      <div class="col-lg-6">
        <p class="mission-statement">
          At AgriSustain, we are on a mission to revolutionize agriculture by providing comprehensive solutions that bridge
          the gap between farmers and consumers. Our platform is committed to promoting sustainable farming practices,
          fostering community engagement, and ensuring the availability of fresh, locally grown produce.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="marketplace container">
    <div class="section-title">
        <h2 class="text-start section-subheading">Marketplace</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="marketplace card">
                <p>Eat Fresh <br /> Produce!</p>
                <img />
            </div>

            <div class="marketplace card">
                <p>Eat Fresh <br /> Produce!</p>
                <img />
            </div>
        </div>

        <div class="col-lg-4">
            <div class="marketplace card">
                <p class="align-text-left">Fruits</p>
                <h4 class="align-text-left">Canteloupe</h4>
                <img/>
                <div class="row">
                    <p>price</p>
                    <p>$200 /lb</p>
                    <p>Qty: </p>
                    <input type="number" min="1" value="1" class="form-control">
                </div>
                <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="marketplace card">
                <p class="align-text-left">Vegetables</p>
                <h4 class="align-text-left">Sweet Potato</h4>
                <img/>
               
                <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
        </div>

        </div>
    </div>
</div>

   @*  <section class="intro">
        <div class="container">
            <div class="intro-text">
                
            </div>
           
        </div>
    </section> *@

    @* <section class="recipes">
    <div class="container">
    <h2>Delicious recipes using sustainably farmed produce </h2>
    </div>
    </section>

    <section class="marketplace">

    </section>

    <section class="marketplace container">
    <h1>Marketplace</h1>
    <p>Fresh, locally grown produce from the farmers you know.</p>
    </section> *@

    <div class="text-center back-to-top">
        <a class="btn button text-light" href="#top">^</a>
    </div>
</div>
