@page
@model JerkChickenModel
@{
}

@* <iframe width="560" height="315" src="https://www.youtube.com/embed/csKuX_2UboA?si=f0OTMs7SnV0PYX45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> *@
<section class="position-relative p-5 jerk-chicken-recipe-section recipe-details-section">
    <div class="container">
        <div class="position-fixed video-container">
           @*  <div class="close-btn">
                <p class="m-0">X</p>
            </div> *@
            <iframe width="400" height="200" src="https://www.youtube.com/embed/csKuX_2UboA?si=f0OTMs7SnV0PYX45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="row recipe-details">
            <div class="col p-0 ingredients">
                <h1>Jerk Chicken Recipe</h1>
                <div class="d-flex flex-wrap p-4 gap-3 nutritional-info">
                    <p>Calories 380</p>
                    <p>Carbohydrates 35g</p>
                    <p>Protein 25g</p>
                    <p>Fat 18g</p>
                    <p>Fiber 6g</p>
                </div>
                <div class="p-4 pt-0 text-content">
                    <p class="fw-bold fs-3">What you need:</p>
                    <ul>
                        <li>Chicken pieces</li>
                        <li>Jerk seasoning</li>
                        <li>Scotch bonnet peppers</li>
                        <li>Scallions</li>
                        <li>Thyme</li>
                        <li>Garlic</li>
                        <li>Onion</li>
                        <li>Allspice</li>
                        <li>Soy sauce</li>
                        <li>Brown sugar</li>
                        <li>Coconut milk</li>
                        <li>Rice</li>
                        <li>Kidney beans</li>
                    </ul>
                </div>


            </div>
            <div class="col py-5 instructions">
                <p class="fw-bold fs-3">How to prepare:</p>
                <ol>
                    <li>
                        To make the jerk marinade, combine all the ingredients in a food processor along with 1 tsp salt, and blend to a purée.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                If you’re having trouble getting it to blend, just keep turning off the blender, stirring the mixture, and trying again. Eventually it will start to blend up – don’t be tempted to add water, as you want a thick paste.
                            </span>
                        </p>
                    </li>

                    <li>
                        Taste the jerk mixture for seasoning – it should taste pretty salty, but not unpleasantly, puckering salty.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                You can now throw in more chillies if it’s not spicy enough for you. If it tastes too salty and sour, try adding in a bit more brown sugar until the mixture tastes well balanced.
                            </span>
                        </p>

                    </li>
                    <li>Make a few slashes in the chicken thighs and pour the marinade over the meat, rubbing it into all the crevices.</li>
                    <li>Cover and leave to marinate overnight in the fridge.</li>
                    <li>
                        If you want to barbecue your chicken, get the coals burning 1 hr or so before you’re ready to cook.
                        <p class="d-inline tooltip-content">
                            ?
                            <span class="tooltip-text">
                                Authentic jerked meats are not exactly grilled as we think of grilling, but sort of smoke-grilled. To get a more authentic jerk experience, add some wood chips to your barbecue, and cook your chicken over slow, indirect heat for 30 mins.
                            </span>
                        </p>
                    </li>
                    <li>To cook in the oven, heat to 180 °C/160 °C fan/gas.</li>
                    <li>Put the chicken pieces in a roasting tin with the lime halves and cook for 45 mins until tender and cooked through.</li>
                    <li>While the chicken is cooking, prepare the rice & peas.</li>
                    <li>Rinse the rice in plenty of cold water, then tip it into a large saucepan with all the remaining ingredients except the kidney beans.</li>
                    <li>Season with salt, add 300ml cold water and set over a high heat.</li>
                    <li>Once the rice begins to boil, turn it down to a medium heat, cover and cook for 10 mins.</li>
                    <li>Add the beans to the rice, then cover with a lid.</li>
                    <li>Leave off the heat for 5 mins until all the liquid is absorbed.</li>
                    <li>Squeeze the roasted lime over the chicken and serve with the rice & peas, and some hot sauce if you like it really spicy.</li>
                </ol>
            </div>
        </div>
    </div>
</section>





