@page
@model JerkChickenModel
@{
}

<main style ="text-align: center; margin: 0 auto; max-width: 800px;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/csKuX_2UboA?si=f0OTMs7SnV0PYX45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h1>Jerk Chicken</h1>
<h2>Instructions</h2>
    <ol>
        <li>To make the jerk marinade, combine all the ingredients in a food processor along with 1 tsp salt, and blend to a purée.</li>
        <li>If you’re having trouble getting it to blend, just keep turning off the blender, stirring the mixture, and trying again. Eventually it will start to blend up – don’t be tempted to add water, as you want a thick paste.</li>
        <li>
            Taste the jerk mixture for seasoning – it should taste pretty salty, but not unpleasantly, puckering salty.
            <ul>
                <li>You can now throw in more chillies if it’s not spicy enough for you.</li>
                <li>If it tastes too salty and sour, try adding in a bit more brown sugar until the mixture tastes well balanced.</li>
            </ul>
        </li>
        <li>Make a few slashes in the chicken thighs and pour the marinade over the meat, rubbing it into all the crevices.</li>
        <li>Cover and leave to marinate overnight in the fridge.</li>
        <li>
            If you want to barbecue your chicken, get the coals burning 1 hr or so before you’re ready to cook.
            <ul>
                <li>Authentic jerked meats are not exactly grilled as we think of grilling, but sort of smoke-grilled.</li>
                <li>To get a more authentic jerk experience, add some wood chips to your barbecue, and cook your chicken over slow, indirect heat for 30 mins.</li>
            </ul>
        </li>
        <li>To cook in the oven, heat to 180C/160C fan/gas.</li>
        <li>Put the chicken pieces in a roasting tin with the lime halves and cook for 45 mins until tender and cooked through.</li>
        <li>While the chicken is cooking, prepare the rice & peas.</li>
        <li>Rinse the rice in plenty of cold water, then tip it into a large saucepan with all the remaining ingredients except the kidney beans.</li>
        <li>Season with salt, add 300ml cold water and set over a high heat.</li>
        <li>Once the rice begins to boil, turn it down to a medium heat, cover and cook for 10 mins.</li>
        <li>Add the beans to the rice, then cover with a lid.</li>
        <li>Leave off the heat for 5 mins until all the liquid is absorbed.</li>
        <li>Squeeze the roasted lime over the chicken and serve with the rice & peas, and some hot sauce if you like it really spicy.</li>
    </ol>

<div>
    <h2>Ingredients</h2>
        <ul>
            <li>Chicken pieces</li>
            <li>Jerk seasoning</li>
            <li>Scotch bonnet peppers</li>
            <li>Scallions</li>
            <li>Thyme</li>
            <li>Garlic</li>
            <li>Onion</li>
            <li>Allspice</li>
            <li>Soy sauce</li>
            <li>Brown sugar</li>
            <li>Coconut milk</li>
            <li>Rice</li>
            <li>Kidney beans</li>
        </ul>
</div>
<div>
    <h2>Nutritional Facts</h2>
        <table>
            <tr>
                <th>Nutrient</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>Calories</td>
                <td>380</td>
            </tr>
            <tr>
                <td>Carbohydrates</td>
                <td>35g</td>
            </tr>
            <tr>
                <td>Protein</td>
                <td>25g</td>
            </tr>
            <tr>
                <td>Fat</td>
                <td>18g</td>
            </tr>
            <tr>
                <td>Fiber</td>
                <td>6g</td>
            </tr>
        </table>
</div>
</main>