@page
@model JerkChickenModel
@{
}

<main style ="text-align: center; margin: 0 auto; max-width: 800px;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/csKuX_2UboA?si=f0OTMs7SnV0PYX45" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h1>Jerk Chicken</h1>
<h2>Instructions</h2>
<p>
    1. To make the jerk marinade, combine all the ingredients in a food processor along with 1 tsp salt, and blend to a purée.

    2. If you’re having trouble getting it to blend, just keep turning off the blender, stirring the mixture, and trying again.
    Eventually it will start to blend up – don’t be tempted to add water, as you want a thick paste.

    3. Taste the jerk mixture for seasoning – it should taste pretty salty, but not unpleasantly, puckering salty.
    - You can now throw in more chillies if it’s not spicy enough for you.
    - If it tastes too salty and sour, try adding in a bit more brown sugar until the mixture tastes well balanced.
    
    4. Make a few slashes in the chicken thighs and pour the marinade over the meat, rubbing it into all the crevices.
    
    5. Cover and leave to marinate overnight in the fridge.
    
    6. If you want to barbecue your chicken, get the coals burning 1 hr or so before you’re ready to cook.
    - Authentic jerked meats are not exactly grilled as we think of grilling, but sort of smoke-grilled.
    - To get a more authentic jerk experience, add some wood chips to your barbecue, and cook your chicken over slow, indirect heat for 30 mins.
    
    7. To cook in the oven, heat to 180C/160C fan/gas 4.
    
    8. Put the chicken pieces in a roasting tin with the lime halves and cook for 45 mins until tender and cooked through.
    
    9. While the chicken is cooking, prepare the rice & peas.

    10. Rinse the rice in plenty of cold water, then tip it into a large saucepan with all the remaining ingredients except the kidney beans.
    
    11. Season with salt, add 300ml cold water and set over a high heat.
    
    12. Once the rice begins to boil, turn it down to a medium heat, cover and cook for 10 mins.
    
    13. Add the beans to the rice, then cover with a lid.
    
    14. Leave off the heat for 5 mins until all the liquid is absorbed.
    
    15.Squeeze the roasted lime over the chicken and serve with the rice & peas, and some hot sauce if you like it really spicy.
</p>

<div>
    <h2>Ingredients</h2>
    <p>
        Chicken pieces, Jerk seasoning, Scotch bonnet peppers, Scallions, Thyme, Garlic ,
        Onion
        Allspice
        Soy sauce
        Brown sugar
        Coconut milk
        Rice
        Kidney beans
    </p>
</div>
<div>
    <h2>Nutritional Facts</h2>
        <p>
            calories: 380,
            carbohydrates: 35,
            protein: 25,
            fat: 18,
            fiber: 6
        </p>
</div>
</main>