@page

@{
}

@using AgriSustain_Jamaica.Models;


<style>
 
    #cardContainer {
        flex: 1;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 450px;
        gap: 20px;
    }

    .crop-card {
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.142);
        display: flex;
        flex-direction: column;
        transition: all ease-in-out 0.3s;
    }

        .crop-card:hover {
            transform: translateY(-3px) scale(1.03);
            z-index: 10;
            position: relative;
        }

    .img-wrap {
        border-radius: 20px;
        overflow:hidden;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: white;
    }

    .img-wrap > img{
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
    

    .info {
        padding: 15px;
        flex-direction: column;
        flex: 1;
        display: grid;
    }

    .name {
        text-align: center;
        align-self: center;
    }

    .quantity {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .quantity-select {
        padding: 15px 0;
        width: 80px;
        display: none;
        margin: 0 auto;
    }

  
    .number {
        color: #193631;
        font-weight: bold;
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border: none;
        outline: none;
        background-color: #193631;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        align-self: center;
    }

    button:hover {
        background-color: #156725;
    }
    .location-wrap {
        display: flex;
        justify-content: end;
    }

    .location {
        color: #193631;
        font-weight: bold;
        font-size: .9em;
        height: fit-content;
        align-self: flex-end;
    }

    h1, h2 {
        text-align: center;
    }

</style>



<h1>Check out Our Recipes</h1>
<div class="input-container">
    <input type="text" placeholder="Search..." id="user-input" />
    <button id="search-btn"> Search</button>
</div>

<main>
    <div id="cardContainer">
        <div class="card">
            <div class="img-wrap">
                <img src="https://foodies.co.uk/wp-content/uploads/2020/02/jerk-chicken-1920x2880.jpg">
            </div>
            <div class="info">
                <div class="name">
                    <h2>Jamaican Jerk Chicken</h2>
                </div>
                <div class="instructions">
                </div>

                

                <div class="btn-wrap">
                    <a asp-controller="Home" asp-action="JerkChicken" class="view-button">View Recipe</a>

       
                </div>

                <div class="ingredients">
                </div>
            </div>
        </div>
    </div>
</main>








@* <body>
    <main>
        <div id="cardContainer">
                    <div class="crop-card">
                        <div class="img-wrap">
                            <img src="e">
                        </div>
                        <div class="info">
                            <div class="name">
                             
                            </div>
                            <div class="instructions">
                            </div>
                          
                            <div class="btn-wrap">
                               
                                <button class="create-button">Learn Now</button>
                            </div>

                            <div class="ingredients">
                               
                            </div>
                        </div>
                    </div>
                }
        </div>
    </main> *@
    <script src="RecipeScript.js"></script>
        
@* 
        // const searchMeal = async (e) => {
        //     e.preventDefault();

        //     //select elements
        //     const input = document.querySelector('.input')
        //     const title = document.querySelector('.title')
        //     const info = document.querySelector('.info')
        //     const img = document.querySelector('.img')
        //     const ingredientsOutput = document.querySelector('.ingredients')

        //     const showMealInfo = (meal) => {
        //         console.log(meal);
        //     }


        //     const showAlert = () => {
        //         alert('Meal not found')
        //     }

        //     //fetch data
        //     const fetchMealData = async (val) => {
        //         const res = await fetch('www.themealdb.com/api/json/v1/1/search.php?s=${val}')
        //     };

        //     const { meals } = await res.json();
        //     return meals;

        //     //get the user value

        //     const val = input.value.trim()

        //     if (val) {
        //         const meals = await fetchMealData(val)
        //         if (!meals) {
        //             showAlert()
        //             return;
        //         }

        //         meals.forEach(showMealInfo)
        //     } else {
        //         alert("Please try searching for meal");
        //     }
        // };


        // const form = document.querySelector('form');
        // form.addEventListener('submit', searchMeal);

        // const magnifier = document.querySelector('.magnifier');
        // magnifier.addEventListener('click', searchMeal);
    // </script>
@* //</body> *@ 
