@page

@{
}

@using AgriSustain_Jamaica.Models;


<style>
 
    #cardContainer {
        padding: 3em;
        background-color: var(--clr-accent);
        border-radius: 2em;
    }

    #cardContainer > * {
        flex-basis: 33.33%;
    }

    .recipe > img {
        width: 100%;
        /* max-width: 300px; */
        margin-bottom: 1em;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 1em;
    }

    .recipe .view-button {
        font-size: .8rem;
        display: inline-flex;
        align-items: center;
        color: var(--clr-neutral-light);
        padding: 1em;
        background-color: var(--clr-primary);
        border-radius: 99vw;
        cursor: pointer;
        transition: all 5ms ease-in-out;
    }
      
    .info {
       /*  padding: 15px;
        flex-direction: column;
        flex: 1;
        display: grid; */
    }

    .quantity {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .quantity-select {
        padding: 15px 0;
        width: 80px;
        display: none;
        margin: 0 auto;
    }

  
    .number {
        color: #193631;
        font-weight: bold;
    }

    button {
       
        padding: 10px;
        border: none;
        outline: none;
        background-color: #193631;
        color: white;
        font-weight: bold;
        border-radius: 5px;

    }

    .location-wrap {
        display: flex;
        justify-content: end;
    }

    .location {
        color: #193631;
        font-weight: bold;
        font-size: .9em;
        height: fit-content;
        align-self: flex-end;
    }

    .recipe-hero {
        /*  background-image: url('/nutrition-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%; */
        height: 100vh;
        /* background-color: #193631; */
        /* background-blend-mode: overlay; */
    }

    .recipe-hero h1 {
        font-size: 3rem;
        line-height: .8;
        margin: 2em 0px 1em;
        max-width: max-content;
    }

    .recipe-hero h1 > span {
        font-size: 6rem;
    }

    .recipe-hero .vegetables-img {
        position: absolute;
        left: 0px;
        max-width: 600px;
    }

    .recipe-hero .images-container {
        right: 0;
        top: 80px;
        max-width: 300px;
        z-index: 999;
        }

    .recipe-hero .images-container > img {
        position: relative;
        max-width: 200px;
        /* margin-bottom: 1.5em; */
    }
/* 
            .recipe-hero .images-container > .salad-img {
               
                margin-bottom: 2em;
            } */

    .recipe-hero .right-bg-col {
        color: var(--clr-neutral-light);
        /* background-color: var(--clr-accent); */
        padding-top: 2em;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        border-bottom-left-radius: 6em;
    }



    .shadowed-text {
        position: relative;
        transform: rotate(3deg);
        font-size: 8rem;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 0px -3px 0 var(--clr-accent), 0px -3px 0 var(--clr-accent), 0px 3px 0 var(--clr-accent), 0px 3px 0 var(--clr-accent), -3px 0px 0 var(--clr-accent), 3px 0px 0 var(--clr-accent), -3px 0px 0 var(--clr-accent), 3px 0px 0 var(--clr-accent), -3px -3px 0 var(--clr-accent), 3px -3px 0 var(--clr-accent), -3px 3px 0 var(--clr-accent), 3px 3px 0 var(--clr-accent), -3px 6px 0 var(--clr-accent), 0px 6px 0 var(--clr-accent), 3px 6px 0 var(--clr-accent), 0 7px 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.1), 0 3px 3px rgba(0,0,0,.3), 0 12px 6px rgba(0,0,0,.2), 0 18px 18px rgba(0,0,0,.25), 0 24px 24px rgba(0,0,0,.2), 0 36px 36px rgba(0,0,0,.15);
        max-width: max-content;
    
    }

    .shadowed-text-salads {
        position: relative;
        /* color: var(--clr-primary); */
        margin-left: -1.8em;
    }

    .shadowed-text-drinks {
        margin-left: -1.2em;
    }

    .shadowed-text-foods {
        margin-left: -.8em;
    }

    .recipe-cards-container input {
       text-indent: 5px;
       border: none;
       outline: none;
       flex-grow: 2;
    }

    .recipe-cards-container .input-container {
        flex-grow: 2;
        padding-left: 1em;
        max-width: 600px;
        border: 1px solid var(--clr-neutral-dark);
        border-radius: 5px;
    }

    .recipe-cards-container #search-btn {
        width: 25%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .recipe-cards-container #search-btn:hover {
        background-color: var(--clr-accent);
    }
</style>


<section class="d-flex position-relative mb-5 recipe-hero">
    <div class="container py-5">
        <h1>Food <span class="d-block">Recipes</span></h1>
        <img class="vegetables-img" src="/png-food-recipe.png" alt="vegetables" />
        <div class="images-container position-absolute">
            <img class="salad-img"src="/Salad-Free-PNG-Image.png" alt="" />
            <img class="drink-img"src="/Drink-PNG-8.png" alt="" />
            <img class="food-img"src="/food-png-food.png" alt="" />
        </div>
    </div>
  
    <div class="col position-absolute right-bg-col bg-gradient">
        <p class="shadowed-text shadowed-text-salads">Salads</p>
        <p class="shadowed-text shadowed-text-drinks">Drinks</p>
        <p class="shadowed-text shadowed-text-foods">Foods</p>
      

    </div>
</section>

<section class="recipe-cards-container">
    <div class="container">
        <div class="d-flex justify-content-between align-items-start gap-3 py-5 top-content">
            <p class="fw-bold fs-3">Learn to cook delicious meals right now.</p>
            <div class="d-flex justify-content-between input-container">
                <input type="text" placeholder="Search..." id="user-input" />
                <button id="search-btn"> Search</button>
            </div>
        </div>
       
        <div id="cardContainer" class="row lh-1 justify-content-between mb-5">
            <div class="col recipe">
                <img src="https://foodies.co.uk/wp-content/uploads/2020/02/jerk-chicken-1920x2880.jpg">
                <div class="info">
                    <div class="name">
                        <h2 class="fw-bolder fs-6">Jamaican Jerk Chicken</h2>
                    </div>
                    
                        <a asp-controller="Home" asp-action="JerkChicken" class="view-button">View Recipe</a>
                    
                </div>
            </div>
            <div class="col recipe">
                <img src="https://shorturl.at/bhmUZ">
                <div class="info">
                    <div class="name">
                        <h2 class="fw-bolder fs-6">Ackee and Salfish</h2>
                    </div>
                    
                        <a asp-controller="Home" asp-action="ackeesaltfish" class="view-button">View Recipe</a>
                    
                </div>

            </div>
            <div class="col recipe">
                <img src="https://cdn.meaningfuleats.com/wp-content/uploads/2017/05/IMG_7139-1.jpg">
                <div class="info">
                    <div class="name">
                        <h2 class="fw-bolder fs-6">Corn Soup</h2>
                    </div>
                    
                        <a asp-controller="Home" asp-action="cornsoup" class="view-button">View Recipe</a>
                   
                </div>
            </div>
        </div>     
    </div>
</section>


    <script>

    </script>
        

