@model Agrisustain_Jamaica.Models.ViewModels.AddPlantingEventModel;

<section class="bg-gradient p-5 mb-5 | banner">
    <div class="wrapper">
        <div class="row flex-column flex-md-row justify-content-md-between align-items-center flex-container">
            <div class="col col-left">
                <h1 class="fw-bolder lh-1 mb-4">
                    Add Planting Event
                </h1>
                <div class="d-flex button-group">
                    <a class="btn btn-secondary w-50" asp-area="" asp-controller="PlantingPlanning" asp-action="Index">View Planting Events</a>
                </div>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-start right-col">
                <img src="~/images/corn-clipart-crop.png" alt="corn" />
            </div>
        </div>
    </div>
</section>
<section class="crop-tracking-add form-section">
    <div class="position-relative mt-5 p-5 mt-lg-0 | form-container">
        <form method="post" action="Add">
            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="startDate" asp-for="StartDate">
            </div>
            <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input type="date" class="form-control" id="endDate" asp-for="EndDate">
            </div>
            <div class="mb-3">
                <label for="crop" class="form-label">Crop</label>
                <input type="text" class="form-control" id="crop" asp-for="Crop">
            </div>
            <div class="mb-3">
                <label for="quantityDescription" class="form-label">Quantity Description</label>
                <input type="text" class="form-control" id="quantityDescription" asp-for="QuantityDescription">
            </div>
            <button type="submit" class="btn px-3">Save</button>
        </form>
    </div>
</section>
