@using Agrisustain_Jamaica.Models
@using Agrisustain_Jamaica.Services
@using Microsoft.AspNetCore.Components.Web
@inject JSONFileCropCareService CropCareService

@{
    var cropCarePageInfo = CropCareService.GetCropCareInfo();
    var cropCareInfo = CropCareService.GetData();

    string mainHeading = "";
    string blogID = "";

    List<string> blogIntroText = new List<string>();


    if (cropCarePageInfo != null)
    {
        foreach (var info in cropCarePageInfo)
        {

            if (info.PostID != null)
            {
                blogID = info.PostID;
            }

            if (info.MainHeading != null)
            {
                mainHeading = info.MainHeading;
            }

            if (info.BlogIntro != null)
            {
                for (int i = 0; i < info.BlogIntro.Length; i++)
                {
                    blogIntroText.Add(info.BlogIntro[i]);
                }

            }

        }
    }

    <section class="cropCare-page article-page">
        <div class="container py-5">
            <article>
                <div class="mb-4 | header-container">
                    <h1 class="fw-bold [ main-heading ]">@mainHeading</h1>
                    <div class="d-flex justify-content-between | flex-container">
                        <p class="fst-italic">5 minutes read</p>
                        <a class="read-next-btn">Read next</a>
                    </div>
                </div>
                <img class="img-fluid w-100 | article-img" src="~/crop-care-img.jpg" alt="Crop care" />
                <div class="fs-5 | article-content">
                    <div class="mt-5 | main-intro-text">
                        @{
                            foreach (string text in blogIntroText)
                            {
                                <p>@text</p>
                            }
                        }
                    </div>
                    <div class="sub-sections">
                        <div class="content-section">
                                @{
                                    if (cropCareInfo != null)
                                    {
                                        foreach (var info in cropCareInfo)
                                        {
                                        <div class="col mb-3 p-0 | styled-text-container">
                                            <h2 class=" fw-bold fs-3 position-relative">@info.Name</h2>
                                                <div class="content mb-4">

                                                    @for (int i = 0; i < info.CropCareInstructions.Length; i++)
                                                    {
                                                        
                                                        <p>@info.CropCareInstructions[i]</p>
                                                    }
                                                </div>

                                            </div>
                                        }
                                    }
                                }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
}

