@using Agrisustain_Jamaica.Models
@using Agrisustain_Jamaica.Services
@using Microsoft.AspNetCore.Components.Web
@inject JSONFileIrrigationService IrrigationService
@* @using System.Text.Json; *@

@{
    var irrigationPageInfo = IrrigationService.GetIrrigationInfo();
    var IrrigationMethodsInfo = IrrigationService.GetData();

    string mainHeading = "";
    string blogID = "";

    List<string> blogIntroText = new List<string>();


    if (irrigationPageInfo != null)
    {
        foreach (var info in irrigationPageInfo)
        {

            if (info.PostID != null)
            {
                blogID = info.PostID;
            }

            if (info.MainHeading != null)
            {
                mainHeading = info.MainHeading;
            }

            if (info.BlogIntro != null)
            {
                for (int i = 0; i < info.BlogIntro.Length; i++)
                {
                    blogIntroText.Add(info.BlogIntro[i]);
                }

            }

        }
    }

    <section class="irrigation-page article-page">
        <div class="container py-5">
            <article>
                <div class="mb-4 | header-container">
                    <h1 class="fw-bold | main-heading">@mainHeading</h1>
                    <div class="d-flex justify-content-between | flex-container">
                        <p class="fst-italic">5 minutes read</p>
                        <a class="read-next-btn">Read next</a>
                    </div>
                </div>

                <img class="img-fluid w-100 | article-img" src="~/irrigation-img.jpg" alt="green grass being irrigated" />
                <div class="fs-5 | article-content">
                    <div class="mt-5 | main-intro-text">
                        <p class="">@blogIntroText.ElementAt(0)</p>
                    </div>
                    <div class="sub-sections">

                        <div class="content-section">
                            @{
                                if (IrrigationMethodsInfo != null)
                                {
                                    foreach (var sub in IrrigationMethodsInfo)
                                    {
                                    // <div class="col text-md-center col-md-10 mx-md-auto mb-md-3">
                                        <div class="col mb-3 p-0 | styled-text-container">
                                            <h2 class=" fw-bold fs-3 position-relative ">@sub.Subheading</h2>
                                            @for (int i = 0; i < sub.Info.Length; i++)
                                            {
                                                <p>@sub.Info[i]</p>

                                            }
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </section>
}

@* <div class="row flex-column px-3 mt-md-5"> *@

@* <div class="[ row mt-4 p-4 flex-column align-items-center mx-auto px-4 ] [ search-container ]">
    <div class="">
        <h3>An overview of the different types of irrigation methods</h3>
        <div class="btns">
            <button class="btn">Sort Alphabetically</button>
            <button class="btn">Sort By Popularity</button>
        </div>
    </div>
</div> *@