@model Agrisustain_Jamaica.Models.ViewModels.AddCropViewModel;

<section class="bg-gradient p-5 mb-5 banner resources-banner">
    <div class="wrapper">
        <div class="row flex-column flex-md-row justify-content-md-between align-items-center flex-container">
            <div class="col col-left">
                <h1 class="fw-bolder lh-1 mb-4">
                   Add your recently planted crop
                </h1>
                <div class="d-flex button-group">
                    <a class="btn btn-secondary w-50" asp-area="" asp-controller="CropTracking" asp-action="Index">View saved crops</a>
                </div>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-start right-col">
                <img src="~/images/corn-clipart-crop.png" alt="corn"/>
            </div>
        </div>
    </div>
</section>
<section class="crop-tracking-add form-section">
    <div class="[ position-relative mt-5 p-5 mt-lg-0 ] [ form-container ]">
        @* <div class="text">
        <p>Are plants currently being tracked?</p>
        <button>View now</button>
        </div> *@

        @* <p>Begin by adding crops that you have recently planted.</p> *@
        <form method="post" action="Add">
            <div class="mb-3">
                <label for="cropName" class="form-label">Crop Name</label>
                <input type="text" class="form-control" id="cropName" asp-for="CropName">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" asp-for="Description">
            </div>
            <div class="mb-3">
                <label for="datePlanted" class="form-label">Date Planted</label>
                <input type="date" class="form-control" id="datePlanted" asp-for="DatePlanted">
            </div>
            @*  <div class="mb-3">
            <label for="cropStatus" class="form-label">Crop Status</label>
            <input type="text" class="form-control" id="cropStatus" asp-for="CropStatus">
            </div> *@
            <div class="mb-3">
                <label for="harvestDate" class="form-label">Harvest Date</label>
                <input type="date" class="form-control" id="harvestDate" asp-for="HarvestDate">
            </div>

            <button type="submit" class="btn px-3">Save</button>
        </form>
    </div>
</section>


