@model Agrisustain_Jamaica.Models.ViewModels.AddCropViewModel;


<div class="[ pt-5 position-relative ] [ crop-tracking-add ]">
    <div class="[ row flex-column flex-lg-row ]">
        <div class="[ col d-flex justify-content-evenly align-items-center position-relative flex-lg-column  justify-content-lg-start align-items-lg-start ] [ hero-text-container ] ">
            <h1 class="fs-6 text-white lh-1">Add your recently planted crop</h1>
            @* <span class="d-none position-absolute end-0 d-lg-inline-block"><img class="arrow-img" src="~/arrow.png" alt="arrow" /></span> *@
            <a class="[ fw-bold text-black btn mt-lg-2 ] [ view-btn ]" asp-area="" asp-controller="CropTracking" asp-action="Index">View Saved Crops</a>
            <img class="w-100 d-none d-lg-block" src="~/corn-clipart-crop.png" alt="corn" />

        </div>
        @* <img class="w-100" src="~/corn-clipart-crop.png" alt="corn" /> *@
        <div class="col ">
            <div class="[ position-relative mt-5 p-5 bg-white mt-lg-0 ] [ form-container ]">
                @* <div class="text">
                <p>Are plants currently being tracked?</p>
                <button>View now</button>
                </div> *@

                @* <p>Begin by adding crops that you have recently planted.</p> *@
                <form method="post" action="Add">
                    <div class="mb-3">
                        <label for="cropName" class="form-label">Crop Name</label>
                        <input type="text" class="form-control" id="cropName" asp-for="CropName">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" asp-for="Description">
                    </div>
                    <div class="mb-3">
                        <label for="datePlanted" class="form-label">Date Planted</label>
                        <input type="date" class="form-control" id="datePlanted" asp-for="DatePlanted">
                    </div>
                    @*  <div class="mb-3">
                    <label for="cropStatus" class="form-label">Crop Status</label>
                    <input type="text" class="form-control" id="cropStatus" asp-for="CropStatus">
                    </div> *@
                    <div class="mb-3">
                        <label for="harvestDate" class="form-label">Harvest Date</label>
                        <input type="date" class="form-control" id="harvestDate" asp-for="HarvestDate">
                    </div>

                    <button type="submit" class="btn px-3">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

