
<div class="position-relative crop-tracking-homepage">
    <div class="text-center py-4 hero-text-container">
        <h1 class="mt-4">Let's start tracking your crops from here, together</h1>
        <p>Select below to begin.</p>
    </div>
    <div class="row p-1 gap-5 container-fluid cards-container">
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="Add">
                <i class="fa-solid fa-calendar-days"></i>
                <p>Start Tracking</p>
            </a>
        </div>
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="JobPlanning">
                <i class="fa-solid fa-calendar"></i>
                <p>Organize a Field Activity</p>
            </a>
        </div>
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="FieldActivitiesRecord" asp-action="FieldHistory">
                <i class="fa-solid fa-book-open"></i>
                <p>Field Activity Records</p>
            </a>
        </div>
    </div>

    <div class="hero-img">
    </div>
</div>