
<section class="bg-gradient p-5 mb-5 banner resources-banner">
    <div class="wrapper">
        <div class="row flex-column flex-md-row justify-content-md-between align-items-md-center flex-container">
            <div class="col col-left">
                <h1 class="fw-bolder lh-1">Let's start tracking your crops from here, together.</h1>
                <p class="mt-3">Our crop tracking tool is free and requires zero-training for use. With this tool, farmers are also able to securely record crop and field activities.</p>
            </div>
            <div class="col d-flex justify-content-center justify-content-md-end align-items-start right-col">
                <img src="~/images/crop-planner-img.png" alt="todo list" />
            </div>
        </div>
    </div>
</section>
<section class="p-5 | crop-tracking-homepage">
    <div class="row flex-column flex-md-row justify-content-md-between container-fluid">
        <div class="col | top-content">
            <div class="col-left">
                <h2 class="fs-6 fw-normal | welcome-text">Welcome to our <span>Crop Tracking</span> Mastery service</h2>
                <p class="big-text mt-md-0">Tracking Your Farming Activities.</p>
            </div>
            <div class="col-right text-center text-sm-start">
                <img class="w-100" src="~/images/farming-activities-img.png" alt="clip art with farmer and farming supplies" />
            </div>
        </div>
        <div class="col | bottom-content">
            <div class="col-left">
                <h3 class="fs-3">Empowering your farming needs.</h3>
                <p class="fs-5 mb-5">Explore our crop tracking options and take the first step towards keeping track of your farming activies.</p>
               
            </div>
            <div class="col-right">
                <div class="row flex-column flex-lg-row gap-3 container-fluid | cards-container">
                    <div class="col card">
                        <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="Add">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p>Start Tracking</p>
                        </a>
                    </div>
                    <div class="col card">
                        <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="JobPlanning">
                            <i class="fa-solid fa-calendar"></i>
                            <p>Organize a Field Activity</p>
                        </a>
                    </div>
                    <div class="col card">
                        <a class="text-decoration-none" asp-area="" asp-controller="FieldEventsRecord" asp-action="FieldHistory">
                            <i class="fa-solid fa-book-open"></i>
                            <p>Field Activity Records</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</section>

@* <div class="position-relative crop-tracking-homepage">
    <div class="text-center py-4 hero-text-container">
        <h1 class="mt-4">Let's start tracking your crops from here, together</h1>
        <p>Select below to begin.</p>
    </div>
    <div class="row p-1 gap-5 container-fluid cards-container">
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="Add">
                <i class="fa-solid fa-calendar-days"></i>
                <p>Start Tracking</p>
            </a>
        </div>
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="CropTracking" asp-action="JobPlanning">
                <i class="fa-solid fa-calendar"></i>
                <p>Organize a Field Activity</p>
            </a>
        </div>
        <div class="col card">
            <a class="text-decoration-none" asp-area="" asp-controller="FieldActivitiesRecord" asp-action="FieldHistory">
                <i class="fa-solid fa-book-open"></i>
                <p>Field Activity Records</p>
            </a>
        </div>
    </div>

    <div class="hero-img">
    </div>
</div> *@