@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*global styles*/

article .read-next-btn {
    font-weight: bold;
    font-size: .8rem;
    display: inline-flex;
    align-items: center;
    color: var(--clr-neutral);
    padding: .25em 1.5em;
    background-color: var(--clr-accent);
    border-radius: 99vw;
    cursor: pointer;
    transition: all 5ms ease-in-out;
}

article .read-next-btn:hover {
    color: var( --clr-neutral-light);
}

.article-img {
    border-radius: 1em;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.article-content {
    max-width: 900px;
    margin-inline: auto;
}

.styled-text-container:not(:first-of-type),
.style-all-text-container {
    background-color: #a4c3b2;
    padding: 2em !important;
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}


.styled-text-container:not(:first-of-type) h2 {
     display: inline-block;
}

.styled-text-container:not(:first-of-type) h2::after
{
    content: "";
    position: absolute;
    inset: 0;
    top: 30px;
    width: 100%;
    height: 4px;
    transform: scale(0);
    background: #193631;
    transition: all 500ms ease-in-out;
}

    .styled-text-container:not(:first-of-type):hover h2::after {
        transform: scale(1);
    }

.job-planning-container > .hero-text-container,
.crop-tracking-homepage > .hero-text-container {
    color: #fff;
    background-color: #193631;
    height: 35vh;
}

.go-back-btn {
    color: #000 !important;
    background-color: #a2d4cb !important;
    max-width: 130px;
    margin-top: 2em;
}
/*/////////////////*/

ul {
    list-style: none;
}

.nav {
    margin-bottom: 0px
}


/*.resources-banner h1 {
    color: var(--clr-accent);
    font-size: clamp(2rem, calc(2rem + 2vw), 3rem);
    text-shadow: 2px 2px #000;
}*/


/*.resources p {
    color: #a4c3b2;
    font-size: 1.25rem;
    text-shadow: 2px 2px 5px #000;
}*/

.intro-text-container {
    padding-block: 5em;
    /*height: calc(100vh - 20vh);*/
    max-width: 80ch;
}

    .intro-text-container h2 {
        font-size: 3rem;
    }

/*@media(min-width: 1100px) {
    .blog-posts::before {
        content: "";
        position: absolute;
        inset: 0;
        top: -50px;
        background: url(/tree-icons.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 80%;*/
        /*    opacity: 0.08;*/
        /*opacity: 0.04;
        z-index: -1;
    }
}*/

.blogposts-container {
    width: 80%;
}

.blog-post {
    line-height: 1.2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    /*border-radius: 2em;*/
    margin-bottom: 2em;
    height: 100%;
}

    .blog-post .article-col {
        /*background: #fff;*/
        max-width: 500px;
    }

.blog-posts img {
    object-fit: cover;
    /*border-radius: 1em;*/
    margin-top: 1em !important;
}

.blog-posts .text-container {
    position: relative;
    flex-grow: 3 !important;
}


.blog-posts {
    margin-bottom: 4em;
}

.blog-post .btn-link {
    font-size: clamp(.6rem, .875rem, 1rem);
    background: #193631;
    max-width: 150px;
}

.blog-post p {
    line-height: 1.5;
}

@media (min-width: 770px) {

    .blog-posts img {
        width: 100%;
        max-height: 250px;
    }
}

/*blog page styles*/
.article-page {
    margin-bottom: 3em;
}


/*planting guides page*/
.plantingGuides-page ul > li {
    padding: 1em !important;
}


@keyframes image-color {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}







/*crop tracking design*/

.crop-tracking-homepage .welcome-text > span {
    display: inline-block;
    background-color: var(--clr-accent);
    padding: .25em .5em;
    /*margin-inline: .25em;*/
    border-radius: 99vw;
}

.crop-tracking-homepage .big-text {
    font-weight: bold;
    font-size: clamp(2.5rem, 2.5rem + 2vw, 4rem);
    line-height: 1;
    margin-top: .25em;
    max-width: 15ch;
}

.crop-tracking-homepage .bottom-content {
    line-height: 1.2;
}

.crop-tracking-homepage img {
    max-width: 350px;
}

.crop-tracking-hero .hero-text .btn {
    background-color: var(--clr-primary);
}

/*Add view*/
.crop-tracking-add,
.crop-tracking-edit {
    /* display: flow-root;*/
    background-color: var(--clr-primary);
}

    .crop-tracking-add .hero-text-container,
    .crop-tracking-edit .hero-text-container {
        max-height: 300px;
    }

        .crop-tracking-add .hero-text-container > .btn,
        .crop-tracking-view .hero-text-container > .btn,
        .crop-tracking-edit .hero-text-container > .btn:not(.btn-danger) {
            font-size: .876rem;
            background-color: #a4c3b2;
        }

    .crop-tracking-edit .go-back-btn {
        margin-top: -2em;
    }

    .crop-tracking-add img,
    .crop-tracking-edit img {
        height: 100%;
        aspect-ratio: 1;
        max-height: 300px;
        object-fit: contain;
        /*clip-path: circle(30.4% at 50% 50%);
            background: #fff;*/
    }

    .crop-tracking-add .form-container,
    .crop-tracking-edit .form-container {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    .crop-tracking-add form,
    .crop-tracking-edit form {
        /* color: #fff;
    background-color: #193631;*/

        max-width: 600px;
        margin-inline: auto;
        padding: 1.2em;
        /* border: 1px solid #000;*/
        border-radius: 1em;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }

    .crop-tracking-add .btn,
    .crop-tracking-edit .btn:not(.btn-danger) {
        color: #fff;
        background-color: #193631;
    }

    .crop-tracking-add .hero-text-container .arrow-img
    .crop-tracking-edit .hero-text-container .arrow-img {
        width: 150px;
    }

.crop-tracking-view .hero-text-container {
    color: #fff;
    height: 30vh;
    /*padding: 1em;*/
    background-color: #193631;
}

.table-view-container table {
    width: 85%;
    margin-inline: auto;
    /*position: relative;*/
    /* font-size: calc(.8rem + 1vw);*/
    background: #fff;
    /*border: 1px solid black;*/
}

    .table-view-container table > caption {
        max-width: 35ch;
    }

    .table-view-container table thead {
        color: #fff;
        background-color: #000;
    }

    .table-view-container table tbody tr:nth-of-type(2n) {
        background-color: #a2d4cb;
    }




/*Job planning*/
/*.job-planning-container > .hero-text-container {
    color: #fff;
    background-color: #193631;
    height: 35vh;
}*/

/*.job-planning-container .cards-container {
    width: 85%;
    margin-inline: auto;
}*/

   /* .job-planning-container .cards-container > {
        width: 50%;
    }
*/
.job-planning-container ul > li,
.crop-tracking-homepage .card {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    /*padding: 3em 1em;*/
    background-color: var(--clr-neutral-light);
    border: 1px solid var(--clr-accent);
    border-radius: 1em;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

    .job-planning-container ul > li:hover,
    .crop-tracking-homepage .card:hover {
        transform: scale(1.15);
    }

    .job-planning-container ul > li a:not(i),
    .crop-tracking-homepage .card a:not(i) {
        color: #193631;
    }


.fa-spray-can,
.fa-calendar {
    color: orange;
}

.fa-droplet,
.fa-book-open {
    color: blue;
}

.fa-tractor {
    color: red;
}

.fa-seedling,
.fa-calendar-days {
    color: green;
}

.fa-scissors {
    color: purple;
}
/*media queries*/
@media (min-width: 500px) {
    .crop-tracking-view > .table-view-container {
        /*background: #a2d4cb;*/
        /*padding-block: 2em;*/
        /*margin-left: calc(2em + 8vw);*/
    }

        .crop-tracking-view > .table-view-container caption {
            color: #000 !important;
        }

    .crop-tracking-add .hero-text-container > h1,
    .crop-tracking-edit .hero-text-container > h1 {
        font-size: calc(1rem + 2vw) !important;
    }
}

@media (min-width: 992px) {

    .crop-tracking-add,
    .crop-tracking-edit {
        /* display: flow-root;*/
        background-color: transparent;
    }

        .crop-tracking-add > div,
        .crop-tracking-edit > div {
            max-width: 90%;
            margin-inline: auto;
        }

        .crop-tracking-add::after,
        .crop-tracking-edit::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            height: 30vh;
            background-color: #193631;
            /*border-bottom-left-radius: 5em;
            border-bottom-right-radius: 5em;*/
        }

        .crop-tracking-add .hero-text-container,
        .crop-tracking-edit .hero-text-container {
            max-height: 100%;
        }

            .crop-tracking-add .hero-text-container > h1,
            .crop-tracking-edit .hero-text-container > h1 {
                font-size: 2rem !important;
                /*  margin-top: 6em !important;*/
            }

            .crop-tracking-add .hero-text-container > img {
                margin-top: calc(5em + 1vw);
                /*  margin-top: 6em !important;*/
            }

            .crop-tracking-edit .hero-text-container > img {
                margin-top: calc(5em + 2.5vw);
            }
}
/*Utilities*/
.active-list-item {
    color: #a2d4cb;
    border-left: 2px solid #a2d4cb;
    padding: 1em;
}

@media (max-width: 575px) {

    .table-view-container > table td[data-cell='id'],
    .table-view-container > table th[data-cell='id'] {
        display: none;
    }


    /* table {
      font-size: .9rem;
  }
    .table-view-container > table td[data-cell='id'],
    .table-view-container > table th[data-cell='id'] {
        display: none;
    }*/
}
/*button[aria-expanded="false"] ~ .navbar-collapse ul {
    display: none;
}*/
