:root {
    --clr-primary: #193631;
    --clr-accent: #a2d4cb;
    --clr-neutral-dark: #000000;
    --clr-neutral-light: #ffffff;
}

.weather-header {
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary);
    position: relative;
}

    /*.weather-header::after {
        display: none;
        content: "";
        position: absolute;
        inset: 0;
        height: 100vh;
        background-color: var(--clr-primary);
        z-index: 1;
    }
*/
.weather-container .location {
    text-align: end;
   
}

.weather-container .location .weather-detail {
  line-height: .5;
}

    /*.weather-container .location .weather-detail p:nth-of-type(2) {
        color: var(--clr-neutral-dark);
        position: relative;
        isolation: isolate;
        background: var(--clr-accent);
        padding: .5em;
        border-radius: 99vw;
    }*/

    /*.weather-container .location .weather-detail p:nth-of-type(2)::after {
        content: "";
        position: absolute;
       
        top: -10px;
        width: 50%;
        color: var(--clr-neutral-dark);
        background: var(--clr-accent);
        padding: 1em;
        z-index: -1;
    }*/

.weather-container .weather-details .current-temperature {
    margin-top: -.5em;
}

.weather-search > * {
    flex: 1 0 0;
}

.weather-search .search {
    z-index: 10;
  inset: 0;
   /*background: red;*/
    display: none;
}

    .weather-search .search > input,
    .weather-search .search > button {
        border: none;
        outline: none;
        padding: .5em 1em;
        display: none;
    }

    .weather-search .search > input {
      
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
    }

    .weather-search .search > button {
      
        margin-left: -0.2em;
    }


    .weather-search .search-icon,
    .weather-search .location-icon {
        padding: 1em;
        border-radius: 50%;
        display: none;
    }

.weather-header .search-icon {
    background-color: rgba(0,0,0,.25);
    cursor: pointer;
}

.weather-header .location-icon {
    color: var(--clr-primary);
    background-color: var(--clr-accent);
    margin-left: .5em;
}

.weather-cards {
    background-color: var(--clr-accent);
}

.weather-card {
    /*margin-top: 2em;*/
    background-color: var(--clr-neutral-light);
    
    /*background-color: var(--clr-accent);*/
    box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    -webkit-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    border-radius: 1em;
    margin-bottom: 2em;
}

.weather-card .overcast-text {
    font-size: .8rem;
    margin-top: .25em;
}

.weather-card .calendar-icon,
.weather-card .location-icon {
    margin-right: .5em;
}

    .weather-card > .five-days-forecast > .forecast-details {
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*gap: 3em;*/
    }

.weather-card > .five-days-forecast > .forecast-details > * {
            flex-basis: 100%;
        }

   .weather-card > .five-days-forecast p >* {
margin-right: .5em;
    }

    .weather-card .btn-highlight {
        color: var(--clr-neutral-light);
        background-color: var(--clr-primary);
        padding:.5em 1em;
        border-radius: 99vw;
    }

    .weather-card .weather-highlight,
    .weather-cards .slider-item {
        padding: 1em;
        background-color:#f1f1f1;
        border-radius: 1em;
        gap: 2em;
    }
    .weather-cards .slider-container {

    }
    .weather-cards .slider-item {
        /*max-width: 150px;*/
        /*max-height: 120px;*/
    }

    .weather-card .weather-highlight .group-text > p:first-of-type {
        font-size: .7rem;
    }

.weather-cards .slider-container > * {
    text-align: center;
    flex: 1 0 15%;
    border-radius: 1em;
    background: var(--clr-neutral-light);
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.25), -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
}


.five-days-forecast-container .five-days-forecast {
    font-size: .8rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(12, 150px);
    gap: 1em;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    border-radius: .5em;
}

.five-days-forecast-container .five-days-forecast::-webkit-scrollbar {
        display: none;
    }

.five-days-forecast-container .weather-card {
    box-shadow: none;
}

.weather-cards .grid-container .right-col {
    overflow-x: hidden;
}

    .weather-cards .grid-container .right-col .forecast-details {
        text-align: center;
        background-color: var(--clr-neutral-light);
        /*background-color: var(--clr-accent);*/
        padding: 1em;
        border-radius: 1em;
        box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
        -webkit-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
        -moz-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    }

@media(min-width: 1200px) {
    .weather-cards .grid-container {
        grid-template-columns: 300px auto;
        gap: 2em;
    }

    .weather-cards .grid-container .col-left {
        flex-direction: column !important;
        justify-content: flex-start !important;
       /*align-items: flex-start !important;*/
      /*align-items: flex-start !important;*/
    }

   /* .hourly-weather-container {
        grid-column-start: 1;
    }*/
}

/*.weather-details > .right-col {*/
    /*background: rgba(0, 0, 0, 0.25);*/
    /*}

.weather-details > .right-col >* {
    line-height: .5;
}

.weather-details .col-left p > span {
    margin-left: .5em !important;
}

.weather-card {
    margin-top: 2em;
    background-color: var(--clr-neutral-light);*/
    /*background-color: var(--clr-accent);*/
    /*box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    -webkit-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    -moz-box-shadow: 5px 10px 38px -9px rgba(0,0,0,0.46);
    border-radius: 1em;
}

.weather-card .col {
    line-height: .7;
    margin-bottom: 1.5em;
    padding-right: 0px;
}

.weather-card-forecast .col:not(:nth-of-type(2n)),
.weather-card-hourly-forecast .col:not(:nth-of-type(2n+4)) {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.weather-card .col > p {
    font-weight: bold;
    color: var(--clr-primary);
}

.weather-card .flex-item {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 1em;
}

.weather-card .flex-item h3 {
    flex-grow: 2;
  margin-left: 1.5em;*/
    /*flex-basis: 33.33%;*/
    /*}*/

    /*climate smart*/

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
}

.bg-gradient {
    line-height: 1.5;
    color: white;
    /*min-height: 100vh;*/
    /*padding: 2em;*/
    background-color: rgb(25,54,49);
    background-image: radial-gradient(circle, rgba(25,54,49,1) 0%, rgba(162,212,203,1) 100%);
}

    .bg-gradient .btn:hover {
        color: var(--clr-primary);
        background-color: var(--clr-accent);
    }

    .bg-gradient .btn-primary {
        border-color: var(--clr-neutral-light);
    }


.bg-gradient .big-text,
.cta-text-content {
    line-height: 1.2
}

    .bg-gradient span {
        color: #a2d4cb;
        text-shadow: 0px 0px 3px black;
    }

    .bg-gradient img {
        width: 100%;
        max-width: 450px;
    }

    .bg-gradient .button-group {
        gap: 1em;
        margin-bottom: 3em;
    }

        .bg-gradient .button-group > * {
            width: 100%;
            padding: 1em;
            border-radius: 2em;
        }

.icons-container img {
    max-width: 150px;
}

.icons-container {
    background-color: rgba(162, 212, 203, 0.1);
    padding-block: 2em;
    border-radius: 4em;
    margin-block: 4em;
}

    .icons-container .col {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        /*background-color: #a2d4cb;*/
        /*padding-block: 2em;*/
        /*border-radius: 99vw;*/
    }

        .icons-container .col > p {
            margin-top: 1em;
        }

.why-smart-agriculture .intro-text,
.why-smart-agriculture .cta-text-content,
.why-smart-agriculture .how-to-start {
    max-width: 130ch;
    margin-inline: auto;
}

.cta-text-content {
    padding-block: 4em;
    /*height: 50vh;*/
}

    .cta-text-content .text-outline {
        color: #fff;
        background-color: #193631;
        padding: 1em;
        border-radius: 2em;
    }

.how-to-start {
}

    .how-to-start ol {
        text-align: left;
        list-style: none;
        counter-reset: counter;
    }

    .how-to-start li {
        counter-increment: counter;
        margin: 0.25rem;
    }

        .how-to-start li::before {
            content: counter(counter);
            background: #a2d4cb;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: inline-block;
            line-height: 2rem;
            color: white;
            text-align: center;
            margin-right: 1em;
        }


    /*Create Weather trigger*/
.dashboard-btn {
    font-weight: bold;
    color: var(--clr-primary);
    background-color: var(--clr-accent);
}
.trigger-header {
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary);
    padding: 5%;
}

.trigger-header > p {
    max-width: 65ch;
}

form {
    max-width: 600px;
    margin-inline: auto;
    padding: 1.2em;
    /* border: 1px solid #000;*/
    border-radius: 1em;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

form input,
form select {
    line-height: 1;
    padding: .25em;
    outline: 0;
    border: 1px solid var(--clr-primary);
    border-radius: .25em;
}

.form-container {
    background-color: transparent;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.form-container button {
    color: var(--clr-neutral-light);
    background-color: var(--clr-primary);
}

.form-container button:hover {
    color: var(--clr-primary);
    background-color: var(--clr-accent);
}

    .img-container {
        position: absolute;
        right: 0;
    }

.img-container > img {
    max-width: 350px;
    opacity: 0.1;
}

.trigger-condition, 
.notification-details {
    margin-top: 2em;
    padding-block: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
}

.trigger-condition {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.notification-details select {
    width: 50px !important;
}

.trigger-condition .flex-container > * {
    flex-basis: 100%;
}

/*saved trigger events*/

.event-container .event-body {
    border: 1px solid var(--clr-accent);
}